@import './reset.scss';

.carousel {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    &__wrapper {
        width: 400px;
        margin: 0 auto;
    }
    &__img {
        width: 400px;
        height: 400px;
    }
    &__btn-box {
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        min-width: 180px;
        padding: 10px 20px;
        cursor: pointer;
    }
}